<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.news.newsCrawling.mapper.NewsCrawlingMapper">

    <insert id="saveAll" parameterType="list">
        INSERT INTO "NEWS_DATA" (
        title, content, publisher, url, create_at, site_type
        ,comment_cnt, recommand_emotion_score, like_emotion_score, impressed_emotion_score, angry_emotion_score, sad_emotion_score
        ,depth) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.title}
            , #{item.content}
            , #{item.publisher}
            , #{item.url}
            , #{item.createAt}
            , #{item.siteType}
            , #{item.commentCnt}
            , #{item.recommandEmotionScore}
            , #{item.likeEmotionScore}
            , #{item.impressedEmotionScore}
            , #{item.angryEmotionScore}
            , #{item.sadEmotionScore}
            , #{item.depth}
            )
        </foreach>
    </insert>

    <select id="selectCorpusList" resultType="String">
        SELECT
            CONTENT
        FROM
            "NEWS_DATA"
        ORDER BY
            CREATE_AT DESC
        LIMIT
            #{limit}
    </select>
    <select id="selectContentById" resultType="com.news.newsCrawling.model.vo.NewsDataVo">
        SELECT
            id,
            title,
            content,
            publisher,
            url,
            view_cnt                 AS viewCnt,
            comment_cnt              AS commentCnt,
            create_at                AS createAt,
            recommand_emotion_score  AS recommandEmotionScore,
            like_emotion_score       AS likeEmotionScore,
            impressed_emotion_score  AS impressedEmotionScore,
            angry_emotion_score      AS angryEmotionScore,
            sad_emotion_score        AS sadEmotionScore,
            depth,
            site_type                AS siteType
        FROM
            "NEWS_DATA"
        WHERE
            ID = #{id}
    </select>

    <insert id="insertKeywords">
        INSERT INTO "KEYWORDS" (
        id, keyword, create_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}
            , #{item.keyword}
            , #{item.createAt}
            )
        </foreach>
    </insert>
</mapper>